@using AMS.Application.Service.Category
@using AMS.Domain.Entities
@page "/category/add"
@inject ICategoryService _service
<title>Add Category</title>

<div class="card">
    <EditForm Model="category" OnSubmit="SubmitCategory" FormName="AddACategoryForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="card-header">Add Category</div>
        <div class="card-body">
            <div class="row">
                
                    <div class="col-md-3">
                        <label>Name</label>
                        <InputText class="form-control" @bind-Value="category.Name" />
                    </div>

                    <div class="col-md-3">
                        <label>Description</label>
                        <InputText class="form-control" @bind-Value="category.Description" />
                    </div>
              
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <NavLink class="btn btn-secondary" href="/assets/list">Cancel</NavLink>

        </div>
    </EditForm>
</div>



@code {
    [SupplyParameterFromForm] private AssetCategory category { get; set; } = new AssetCategory();

    protected async Task SubmitCategory()
    {
        if (await _service.AddAsync(category))
        {
            _navigate.NavigateTo("/category/list");
        }
    }

}
