@page "/category/edit/{Id:int}"

@using AMS.Application.Service.Category
@using AMS.Domain.Entities
@using AMS.Domain.Enums
@rendermode InteractiveServer
@inject ICategoryService _categoryService
<title>Edit Category</title>

<div class="card">
    <div class="card-header">Edit Category</div>


    <EditForm Model="category" OnValidSubmit="submitEditedCategory" FormName="EditCategoryForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <label>Asset Name</label>
                    <InputText class="form-control" @bind-Value="category.Name" />
                </div>

                <div class="col-md-3">
                    <label>Description</label>
                    <InputText  class="form-control" @bind-Value="category.Description" />
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <NavLink class="btn btn-secondary" href="/category/list">Cancel</NavLink>
        </div>
    </EditForm>

</div>

@code {
    [Parameter] public int id { set; get; }
    private AssetCategory category { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        category = _categoryService.GetByIdAsync(id);

    }
    private async Task submitEditedCategory()
    {
        var res = await _categoryService.UpdateAsync(id, category);
        if (res)
        {
            _navigate.NavigateTo("/category/list");
        }

    }
}
