@inherits LayoutComponentBase

<LayoutView>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="/">AMS</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarModules" aria-controls="navbarModules" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarModules">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Asset Dropdown -->
                        @*    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="assetDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Asset
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="assetDropdown"> *@
                        <li><NavLink class="dropdown-item" href="/assets/list">Asset List</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/assets/add">Add Asset</NavLink></li>
                        @*  </ul>
                        </li>

                        <!-- Category Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Category
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="categoryDropdown"> *@
                        <li><NavLink class="dropdown-item" href="/category/list">Category List</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/category/add">Add Category</NavLink></li>
                        @* </ul>
                        </li>

                        <!-- Employee Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="employeeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Employee
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="employeeDropdown"> *@
                        <li><NavLink class="dropdown-item" href="/employee/list">Employee List</NavLink></li>

                        @* </ul>
                        </li> *@
                    </ul>

                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/profile">Profile</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/logout">Logout</NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container p-2">
        @Body
    </main>
</LayoutView>
