@page "/assets/add"
@using AMS.Application.DTOs
@using AMS.Application.Service.Assets
@using AMS.Domain.Entities
@using AMS.Domain.Enums
@using Microsoft.AspNetCore.Components.Forms
@inject IAssetService _service
<title>Add Asset</title>
@rendermode InteractiveServer

<h3>Add Asset</h3>

<EditForm Model="asset" OnValidSubmit="submitAsset" FormName="AddAssetForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Asset Name</label>
        <InputText class="form-control" @bind-Value="asset.Name" />
    </div>

    <div class="mb-3">
        <label>Serial Number</label>
        <InputText class="form-control" @bind-Value="asset.SerialNumber" />
    </div>



    <div class="mb-3">
        <label>Purchase Date</label>
        <InputDate  class="form-control" @bind-Value="asset.PurchaseDate" />
    </div>

    <div class="mb-3">
        <label>Category</label>
        <InputSelect class="form-control" @bind-Value="asset.CategoryId">
            <option value="">-- Select Category --</option>
            @foreach (var category in Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </InputSelect>
    </div>

    <div class="mb-3">
        <label>Status</label>
        <InputSelect class="form-control" @bind-Value="asset.Status">
            @foreach (AssetStatus status in Enum.GetValues(typeof(AssetStatus)))
            {
                <option value="@status">@status</option>
            }
        </InputSelect>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [SupplyParameterFromForm] private AssetDto asset { get; set; }

    private List<AssetCategory> Categories = new();


    protected override void OnInitialized()
    {
        asset = new();
    }
    private async Task submitAsset()
    {
        var res = await _service.AddAssetAsync(asset);
        if (res)
        {
            _navigate.NavigateTo("/home");
        }
       // Console.WriteLine($"Asset Added: {asset.Name}, {asset.SerialNumber}, {asset.Category}, {asset.PurchaseDate}");
    }
}
